node_modules/
dist/
.vscode/
package-lock.json
coverage/
*.pem
ARCHITECTURE.md
CHANGELOG.md
DEPLOYMENT.md
FULLCLIENT_FEATURES.md
MINIMAL_CLIENT.md
NEW_FEATURES.md
README_FULLCLIENT.md
REFACTORING_CHANGELOG.md
TECHNICAL_DOCS.md
USER_GUIDE.md
